.vscode/**
.vscode-test/**
src/**
server/src/**
client/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
releases
node_modules/**
esbuild.js

# Make sure to include the images directory
!images/**
